*{
    box-sizing: border-box;
    margin: 0px;
}
.main-conatiner{

}
   
.row{}
#main{}
#head{

}
ul{}

li{
    list-style-type: none;
    display: inline-block;

}
 li a {
    text-decoration: none;
    padding: 7px;
    font-size: larger;


}